
.color_footer {
  color: white;
  text-align: center;
}
 #indice{
  color: blue;
  background-color: orange;
 }

 #tudo {
  width: 100%;
  height: 450px;
  background-image: url(../image/1.jpg);
  opacity: 0.5;
}

.cor_font{
  color: blue;
  font-weight: 900;
  font-weight: bold;
}

.cor_desc{
  color: blue;
  font-weight: bold;
}